.pages{
  /* margin-top: 10%; */
  margin-left: 10%;
  display: flex;
  float: left;
}

.pages li {
  list-style-type: none;
}

.loader {
  font-size: 25px;
  color:floralwhite;
  display: inline-block;
  justify-content: center;
  margin-top: 20%;
  margin-left: 100%;
}

.loader img {
  width: 200px;
  height: 200px;
}