
.banner {
  text-align: center;
  display: flex;
  float: left;
  list-style-type: none;
}

.banner a {
  text-decoration: none;
}

a:active a:link a:visited {
  text-decoration: none;
}

.banner li {
  margin: 10px;
}

.title {
  padding-left: 100px;
  padding-right: 50px;
  font-size: 2rem;  
  font-weight: bold;
}

.searchBar2 {
  padding-right: 15%;
  font-size: 1.2rem;
  position: absolute;
  right: 0;
}

button {
  right: 0;
  margin-top: 15px;
  margin-right: 30px;
}

/* tengo que cambiar el color del fondo */
button:hover{
  cursor: pointer;
  background-color: aqua;
  text-decoration: underline solid 2px;
}

